.paper-title {

    font-size: 0.9em; /* Adjust this value as needed */
  }

  .doi-title {
    font-size: 0.7em; /* Adjust this value as needed */
  }

  .author-title {
    font-size: 0.8em; /* Adjust this value as needed */
  }


  .education-title {
    font-size: 0.9em; /* Adjust this value as needed */
  }

  .general-title {
    font-size: 0.9em; /* Adjust this value as needed */
  }

  .general-title-medium {
    font-size: 0.8em; /* Adjust this value as needed */
  }

  .general-title-little {
    font-size: 0.7em; /* Adjust this value as needed */
  }


  .feed-item {
    background: #f5f8fa;
    border-left: 4px solid #1da1f2;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    font-family: system-ui, sans-serif;
  }
  .feed-item:hover {
    background: #e8f0fe;
  }